.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url(./assets/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px;
}

.App-link {
  color: #61dafb;
}

nav {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.26) 0%,
    rgba(0, 0, 0, 0.1378) 0.01%,
    rgba(0, 0, 0, 0.026) 100%
  );
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 0px 15px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  width: 100%;
}

.marquee {
  --gap: 5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: var(--gap);
  user-select: none;
}

.marquee__content {
  gap: var(--gap);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-inline-start: 0;
}

nav li {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.portfolio {
  background-color: #d9d9d9;
}

.programmingIcon {
  padding: 4% 2% 2% 2%;
}

.active {
  background-color: #04aa6d;
}

.infiniteRun {
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: scroll;
}

.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
